body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #007BFF;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

h1, h2 {
    margin: 0.5em 0;
}

main {
    padding: 20px;
}
img {
    max-width: 200px;
    border-radius: 0;
    display: block;
    margin: 10px auto;
}


footer {
    text-align: center;
    padding: 1em 0;
    background-color: #333;
    color: #fff;
}
